@inherits LayoutComponentBase

<header class="Menu-top">
    <div class="sticky-header">
        <div class="header-logo">
            <span>ЖилКомСтрой</span> <!-- Логотип или любой контент слева -->
        </div>
        <div class="header-time">
            <span>Ежедневно с 8:00 до 23:00</span> <!-- Текст или другой контент по центру -->
        </div>
        <div class="header-tele-coll">
            <p>Санкт-Петербург</p>
            <button>Заказать звонок</button> <!-- Кнопка или другой элемент справа -->
        </div>
    </div>
    <div class="navigation-bar">
        <nav class="header-navmenu">
            <ul>
                <li><a href="#">Услуги</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Акции</a></li>
                <li><a href="#">Цены</a></li>
                <li><a href="#">Отзывы</a></li>
                <li><a href="#">Контакты</a></li>
            </ul>
        </nav>
    </div>
</header>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>